.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px 20px;
  }
  
  .hero-img {
    margin-top: 10px;
    width: 420px;
    height: 420px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    color: black;
  }
  
  .hero h1 span {
    background: linear-gradient(267deg, #435eec 0.36%, #b24af2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero p {
    width: 50%;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10px;
  
  }
  
  .hero-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
  }
  
  .hero-connect,
  .hero-resume {
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .hero-connect {
    background: linear-gradient(267deg, #435eec 0.36%, #b24af2 100%);
    color: rgb(7, 7, 7);
    border: none;
  }
  
  .hero-resume {
    background: transparent;
    border: 2px solid #0b0a0b;
    color: rgb(5, 5, 5);
  }
  
  .hero-resume a {
    background: transparent;
    color: rgb(19, 19, 19);
    text-decoration: none;
  }
  
  .hero-connect:hover {
    border: 2px solid #f6f5f7;
  }
  
  .hero-resume:hover {
    border-color: #B415FF;
  }
  
  /* 📱 Mobile styles */
  @media (max-width: 414px) {
    .hero {
      padding: 20px;
    }
  
    .hero img {
      margin-bottom: 90px;
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-radius: 50%;
    }
  
    .hero h1 {
      margin-bottom: 10px;
      width: 90%;
      font-size: 40px;
    }
  
    .hero p {
      width: 60%;
      font-size: 18px;
      line-height: 32px;
      margin: 10px 0px;
    }
  
    .hero-actions {
      flex-direction: column;
      gap: 16px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 50px;
    }
  
    .hero-connect,
    .hero-resume {
      padding: 20px 30px;
      border-radius: 40px;
    }
  }
  
  /* 🖥️ Large desktop screens */
  @media (min-width: 1280px) {
    .hero {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 80px 120px;
      gap: 80px;
    }
  
    .hero-img {
      width: 500px;
      height: 500px;
    }
  
    .hero-content {
      align-items: flex-start;
      text-align: left;
      max-width: 700px;
    }
  
    .hero h1 {
      font-size: 72px;
      text-align: left;
      margin: 0;
    }
  
    .hero p {
      width: 100%;
      margin: 20px 0;
      font-size: 28px;
      line-height: 44px;
      text-align: left;
    }
  
    .hero-actions {
      justify-content: flex-start;
    }
  }
  