.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600px;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    cursor: default;
}
.mywork-container img {
    box-sizing: border-box;
    width: 400px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: 0.03s;
    cursor: pointer; 
}
.mywork-container img:hover {
    transform: scale(1.05);
    border: 4px solid #b50cbe;
    border-radius: 10px;
    transition: 0.03s;
}

@media (max-width: 414px) {
    .mywork {
        margin: 30px 20px;
        gap: 40px;
    }

    .mywork-title h1 {
        font-size: 50px;
        padding: 0;
    }

    .mywork-container {
        grid-template-columns: 1fr 1fr; /* Two columns on small screens */
    }
    .mywork-container img {
        width: 100%; /* Full width on small screens */
        height: auto; /* Maintain aspect ratio */
    }
    .mywork-container img:hover {
        transform: scale(1.05);
        border: 4px solid #b50cbe;
        border-radius: 10px;
        transition: 0.03s;
    }
    
}

