/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
    transition: transform 0.5s ease;
    
}

p {
    font-size: 20px;
    color: rgb(13, 13, 13);
    font-weight: 500;
     transform: scale(1.05);
}

.navbar img {
    width: 150px;  
    height: 100px;
    object-fit: contain; 
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #435eec 0.36%, #b24af2 100%);
    font-size: 22px;
    color: rgb(12, 12, 12);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-link-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .navbar {
        margin: 20px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        gap: 30px;
    }

    .nav-connect {
        width: 100%;
        margin-top: 20px;
    }
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-exit {
    display: none;
}

.nav-mob-open {
    display: none;
    position: fixed;
    top: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    transition: right 0.5s;
}

@media (max-width:414px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
    }
    .nav-mob-exit {
        display: block;
        position: relative;
        top: 30px;
        left: 200px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #dadfe2;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 40px;
        flex-direction: row;
        gap: 20px;
    }
    .navbar1 img {
        width: 100px;
        height: 70px;
    }
}